@use "../design-system" as *;

.g-container {
  padding-left: $side-padding;
  padding-right: $side-padding;
}

.g-container-inner {
  width: 100%;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
}

.g-container-inner-small {
  width: 100%;
  max-width: $max-width-small;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: $lg) {
  .g-container {
    padding-left: $side-padding-lg;
    padding-right: $side-padding-lg;
  }
}

@media (max-width: $md) {
  .g-container {
    padding-left: $side-padding-md;
    padding-right: $side-padding-md;
  }
}

@media (max-width: $sm) {
  .g-container {
    padding-left: $side-padding-sm;
    padding-right: $side-padding-sm;
  }
}

@media (max-width: $xs) {
  .g-container {
    padding-left: $side-padding-xs;
    padding-right: $side-padding-xs;
  }
}
