@use "../design-system" as *;

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;

  font-family: $ff-Poppins;
  font-weight: $w-Poppins-bold;
  line-height: 1.333;
  color: $c-gray-black;
}

a {
  color: inherit;
  text-decoration: underline;

  transition: color $time;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: $c-teal;
    }
  }
}