@use "../design-system" as *;

* {
  box-sizing: border-box;
  outline: none;
}

html {
  min-width: $min-width;
  width: 100%;
}

body {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;

  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  word-wrap: break-word;
  color: $c-gray;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}