@mixin reset-button {
  background: transparent;
  border: 0;
  padding: 0;
  box-shadow: none;
  border-radius: 0;
  text-decoration: none;

  color: inherit;
  line-height: inherit;
  font-weight: inherit;
}